<div class="wrapper">
    <div class="select">
        Select building
    </div>
    <div routerLink="/equipment" class="card">
        <div>
            Kelaniementie 12
        </div>
        <div>
            KONE BUILDING
        </div>
    </div>
    <div routerLink="/equipment" class="card">
        <div>
            Mannerheiminkatu 3
        </div>
        <div>
            FORUM
        </div>
    </div>
    <div routerLink="/equipment" class="card">
        <div>
            Kaapeliaukio 3
        </div>
        <div>
            KAAPELITEHDAS
        </div>
    </div>
</div>